.card {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width:880px;
	margin: 0 auto;
	padding: 76px 0 68px;

}

.card__column {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width:100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, 282px);
	justify-content: center;
	grid-column-gap:17px;
	grid-row-gap:20px;
	justify-items: center;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding: 0;
	list-style: none;
}

.card__list-item {

	width: 282px;
	height:361px;
	border-radius: 10px;
	background-color: #fff;
}

.card__image {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}
.card__place-title{
	max-width:246px;
	margin:25px auto 31px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.card__place-name{
	width:246px;
	margin:0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color:#000;
	font-size: 24px;
	font-weight: 900;
}
.card__place-favorite{
  background-image: url(../images/heart.svg);	
  background-size: contain;
  background-repeat: no-repeat;
  width:21px;
  height:19px;
  transition: 0.2s;
}
.card__place-favorite:hover{
	opacity: 0.5;
    cursor:pointer;
}
.card__place-favorite:active{
	opacity: 1;
	background-image: url(../images/heart-fill.svg);
}
.card__place-favorite-active{
	fill:black;
}
@media screen and (max-width: 792px) {

}

@media screen and (max-width: 540px) {
   
	.card {
		padding: 36px 0 50px;
	}
}