.footer {
	max-width:928px;
	margin:0 auto;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.footer__column{
	padding: 0 24px 60px 24px;
}
.footer__copyright {
	margin:0;
	color: #545454;
	font-size: 14px;
	line-height: 1.14;
	text-align: left;
}

@media screen and (max-width:540px) {
	.footer__column{
	padding: 0 19px 36px 19px;
	}
}