.header {
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	border-bottom: 1px solid rgb(84 84 84 / 70%);
	transition: 0.3s;
}
.header__container{
	box-sizing: border-box;
	max-width: 928px;
	width:100%;
	margin: 0 auto;
	padding: 0 24px;
}
.header__logo {
	width: 173px;
	height: auto;
	padding-bottom: 41px;
}

@media screen and (max-width: 792px) {
 
	.header__logo {
		width: 173px;
		
	}
}

@media screen and (max-width: 540px) {
	.header__container{
	padding-left:27px;
	}
	.header__logo {
		width: 126px;
		padding-bottom:32px;
	}

}

