.intro {
	max-width: 984px;
	margin: 0 auto;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.intro__column {
	padding-top: 92px;
	max-width: 785px;
}

.intro__title {
	font-size: 54px;
	line-height: 1.07;
	font-weight: 900;
	margin: 0;
}

.intro__quote {
	margin: 40px 0 0;
	max-width: 720px;
	font-size: 24px;
	line-height: 1.42;
}

.intro__quote-author {
	margin: 10px 0 0;
	max-width: 720px;
	font-size: 24px;
	line-height: 1.42;
	text-align: right;
}

.intro__description {
	margin: 32px 0 0;
	max-width: 720px;
	font-size: 16px;
	line-height: 1.63;
}

@media screen and (max-width: 1054px) {
	.intro__column {
		max-width: 720px;
		padding: 88px 24px 0;
	}
}

@media screen and (max-width: 540px) {
	.intro__column {
		padding: 64px 16px 0;
	}
	.intro__title {
		font-size: 32px;
		line-height: 1.09;
	}

	.intro__quote {
		line-height: 1.24;
	}
}