.page {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 1280px;
	min-width:320px;
	margin: 0 auto;
	padding-top:45px;
	background: #000000;
	color: #fff;
	font-family: 'Inter', Arial, sans-serif;
	line-height: 1;

}